<template>
  <div>
    <v-app-bar flat color="transparent" class="main-appbar">
      <v-toolbar-title class="subtitle-1 font-playfair">
        Users
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-row v-if="showSearch" align="center" style="max-width: 300px;">
        <v-text-field
          flat
          hide-details
          solo
          rounded
          clearable
          background-color="grey lighten-3"
          label="Search name, email or phone number"
          v-model="filter.search"
          @input="search"
        ></v-text-field>
      </v-row>
      <v-btn class="ml-5" icon @click="showSearch = !showSearch">
        <img src="@/assets/icons/search.svg" alt="" height="17.7px" />
      </v-btn>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn class="mr-1" icon @click="exportUsers" v-on="on">
            <v-icon>{{ icons.export }}</v-icon>
          </v-btn>
        </template>
        <span>Export to Excel</span>
      </v-tooltip>
    </v-app-bar>
    <div
      class="mx-4"
      id="user-list"
      v-infinite-scroll="loadMore"
      :infinite-scroll-disabled="loading"
      infinite-scroll-distance="100"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th width="1%" class="text-left pa-0">Name</th>
            <th></th>
            <th class="text-left">Email</th>
            <th class="text-left">Phone number</th>
            <th class="text-right">Added date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="py-3 pl-0 caption font-weight-600">
              USERS ({{ listMeta.total }})
            </td>
          </tr>
          <tr
            v-for="user in users"
            :key="user.id"
            class="clickable"
            @click="
              $router.push({ name: 'user.details', params: { id: user.id } })
            "
          >
            <td class="py-3 pl-0">
              <user-avatar :avatar="user.avatar" size="36" />
            </td>
            <td>
              {{ user.full_name }}
            </td>
            <td>
              {{ user.email }}
            </td>
            <td>
              {{ user.phone_number ? '+' + user.phone_number : '' }}
            </td>
            <td class="text-right">
              {{ user.addedDate }}
            </td>
          </tr>
          <tr v-if="loading">
            <td class="py-3 pl-0">
              <v-skeleton-loader class="avatar-loading--36" type="avatar" />
            </td>
            <td class="pl-0">
              <v-skeleton-loader type="list-item" />
            </td>
            <td class="pl-0">
              <v-skeleton-loader type="list-item" />
            </td>
            <td class="pl-0">
              <v-skeleton-loader type="list-item" />
            </td>
            <td class="pl-0">
              <v-skeleton-loader type="list-item" />
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import {
  mdiDotsVertical,
  mdiUnfoldMoreHorizontal,
  mdiMagnify,
  mdiAccountCircleOutline,
  mdiChevronRight,
  mdiFileExcel
} from '@mdi/js'
import debounce from 'lodash/debounce'
import UserAvatar from '@/components/UserAvatar'
import infiniteScroll from 'vue-infinite-scroll'

export default {
  name: 'UsersPage',

  directives: {
    infiniteScroll
  },

  components: {
    UserAvatar
  },

  data() {
    return {
      loading: false,
      showSearch: false,
      showProfile: false,
      selectedProfile: null,
      filter: {
        search: ''
      },
      icons: {
        settings: mdiDotsVertical,
        sort: mdiUnfoldMoreHorizontal,
        search: mdiMagnify,
        view: mdiAccountCircleOutline,
        arrow: mdiChevronRight,
        export: mdiFileExcel
      }
    }
  },

  computed: {
    ...mapState({
      users: state => state.user.list,
      listMeta: state => state.user.listMeta
    }),

    paginationLength() {
      return (this.listMeta.total / this.listMeta.per_page) | 0
    }
  },

  methods: {
    ...mapActions({
      getUsers: 'user/getUsers'
    }),

    ...mapMutations({
      clearUsers: 'user/clearUserList'
    }),

    pageChanged(page) {
      this.fetchUsers(page)
    },

    loadMore() {
      if (this.listMeta.current_page < this.listMeta.last_page) {
        this.fetchUsers(this.listMeta.current_page + 1)
      }
    },

    search: debounce(function() {
      this.clearUsers()
      this.fetchUsers()
    }, 600),

    async fetchUsers(page = 1) {
      if (this.loading) return
      let params = { page }
      if (this.filter.search) {
        params.search = this.filter.search
      }
      this.loading = true
      await this.getUsers(params)
      this.loading = false
    },

    showProfileDialog(profile) {
      this.selectedProfile = profile
      this.showProfile = true
    },

    exportUsers() {
      window.open(
        this.$env.apiUrl +
          '/users/export?token=' +
          this.$store.state.auth.token.access_token,
        '_blank'
      )
    }
  }
}
</script>
