@import '~vuetify/src/styles/tools/functions';

$body-font-family: 'Source Sans Pro', sans-serif;
$font-size-root: 1rem;

$btn-font-sizes: ();
$btn-font-sizes: map-deep-merge(
  (
    'x-small': 0.75rem,
    'small': 0.875rem,
    'default': 1rem,
    'large': 1.125rem,
    'x-large': 1.25rem
  ),
  $btn-font-sizes
);
