.main-appbar {
  margin-top: 20px !important;
}

@media only screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .main-content .v-content__wrap {
    box-shadow: 0 0 24px 0 rgba(38, 52, 70, 0.08);
    z-index: 10;
  }
}

.app-logo-container {
  padding: 0 24px;
  background-color: #fff;
}

.app-logo-sheet {
  border-radius: 28px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.app-company--name {
  font-family: Inter;
  font-size: 1.4375rem;
  font-weight: 500;
}

.app-project--name {
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 300;
}

.app-nav {
  &--title {
    font-size: 0.875rem;
    color: #a3a9ac;
    font-weight: bold;
  }
  &--item {
    font-size: 	0.875rem !important;
    font-weight: bold;
    color: #000;
  }
}

.v-navigation-drawer__border {
  background-color: transparent !important;
}
