.user-details {
  &--name {
    text-transform: capitalize;
    font-size: 2.75rem;
    font-family: 'Playfair Display';
    color: #000;
  }
  &--navigations {
    font-size: 12px;
    color: #a3a9ac;
    &> span {
      margin: 0 4px;
    }
    span.active {
      font-weight: 600;
      color: var(--v-primary-base) !important;
    }
  }
}
