<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card max-width="380" class="mx-auto">
        <v-layout align-center justify-center column class="pt-6">
          <v-img
            :src="require('@/assets/images/logo.png')"
            width="144px"
            height="144px"
          ></v-img>
          <div class="display-1 ma-3">Simple SPA</div>
          <div class="subtitle-1">Register</div>
        </v-layout>
        <div class="pa-6">
          <v-tabs v-model="tab" class="no-tab-bar">
            <v-tabs-items v-model="tab">
              <v-tab-item value="username-tab">
                <v-form ref="form" @submit.prevent="checkUsername">
                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    v-model="form.username"
                    label="Username"
                    :error-messages="form.$getError('username')"
                  ></v-text-field>

                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    type="password"
                    v-model="form.password"
                    label="Password"
                    :error-messages="form.$getError('password')"
                  ></v-text-field>

                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    type="password"
                    v-model="form.password_confirmation"
                    label="Confirm Password"
                    :error-messages="form.$getError('password_confirmation')"
                  ></v-text-field>

                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    v-model="form.email"
                    label="Email"
                    :error-messages="form.$getError('email')"
                  ></v-text-field>

                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    v-model="form.phone_number"
                    label="Phone number"
                    :error-messages="form.$getError('phone_number')"
                  ></v-text-field>

                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    v-model="form.first_name"
                    label="First name"
                    :error-messages="form.$getError('first_name')"
                  ></v-text-field>

                  <v-text-field
                    autofocus
                    outlined
                    clearable
                    required
                    v-model="form.last_name"
                    label="Last name"
                    :error-messages="form.$getError('last_name')"
                  ></v-text-field>

                  <v-btn
                    block
                    large
                    color="primary"
                    type="submit"
                    :loading="form.$busy"
                    >Submit</v-btn
                  >
                  <div class="mt-4">
                    <v-btn
                      text
                      color="primary"
                      block
                      :to="{ name: 'auth.login' }"
                      >Login into your account</v-btn
                    >
                  </div>
                </v-form>
              </v-tab-item>
            </v-tabs-items>
          </v-tabs>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Form from '@/utils/form'

export default {
  name: 'RegisterPage',
  data() {
    return {
      tab: 'username-tab',
      form: new Form()
    }
  },

  methods: {
    checkUsername() {
      this.form.$clearErrors()
      this.form.$busy = true
      this.$api
        .post('auth/register', {
          username: this.form.username,
          password: this.form.password,
          email: this.form.email,
          phone_number: this.form.phone_number,
          first_name: this.form.first_name,
          last_name: this.form.last_name,
          password_confirmation: this.form.password_confirmation
        })
        .then(({ data }) => {
          this.form.$busy = false
          this.$store.commit('auth/setToken', data.data)
          this.$router.replace({ name: 'home' })
        })
        .catch(err => {
          this.form.$busy = false
          if (err.response.status === 422) {
            this.form.$setErrors(err.response.data.errors)
          }
        })
    },

    notYou() {
      this.clearForm()
    },

    clearForm() {
      this.form.$reset()
    }
  },
  watch: {
    'form.username'() {
      this.form.$clearError('username')
    },
    'form.password'() {
      this.form.$clearError('password')
    }
  }
}
</script>
